<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= @description %>">
    <meta name="author" content="John Bohn">

    <title><%= @title %></title>
    <link rel="alternate" type="application/rss+xml" title="State of Development Podcast with John Bohn | Software Development | Programming | News RSS" href="http://simplecast.com/podcasts/1739/rss">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main role="main" id="main">
      <%= render "_nav.html" %>
      <%= render Podcaster.EpisodeView, "_featured_episode.html", assigns %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">
     document.getElementsByClassName("js__email_sign_up")[0].onclick = () => {
       require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us1.list-manage.com","uuid":"60ff1f06e1ad5abc0846226a9","lid":"591da659fd"}) })
         document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
     };
    </script>
  </body>
</html>
